<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
<body>

<section layout:fragment="conteudo">

    <div class="page-header">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-10">
                    <h1 th:if="${budget.novo}" th:text="#{titulo.cadastro.orcamento}"></h1>
                    <h1 th:unless="${budget.novo}" th:text="#{titulo.editar.orcamento}"></h1>
                </div>
                <div class="col-xs-2" th:unless="${budget.novo}">
                    <div class="aw-page-header-controls">
                        <a class="btn btn-primary" th:href="@{/orcamento/novo}">
                            <i class="fa  fa-plus-circle"></i> <span class="hidden-xs  hidden-sm" th:text="#{novo}"></span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <form method="post" th:object="${budget}" th:action="${budget.novo} ? @{/orcamento/novo} :
								@{/orcamento/{id}(id=${budget.id})}" class="form-vertical  js-form-loading">
            <div th:replace="layout/fragments/message :: messages"></div>
            <input type="hidden" th:field="*{id}" />
            <div class="tabs-x tabs-above">
                <ul id="tab-orcamento" class="nav nav-tabs" role="tablist">
                    <li th:classappend="!${budget.updateItem} ? active"><a href="#dados-orcamento" role="tab" data-toggle="tab"><i
                            class="glyphicon glyphicon-th-list"></i><span th:text="' ' + #{dados.orcamento}"></span></a></li>
                    <li th:classappend="${budget.updateItem} ? active" th:unless="${budget.novo}"><a href="#items" role="tab-kv" data-toggle="tab"><i class="glyphicon glyphicon-list-alt"></i>
                        <span th:text="' ' + #{items}"></span></a></li>
                </ul>
                <div id="tab-orcamento-content" class="tab-content">
                    <div class="tab-pane fade in" th:classappend="!${budget.updateItem} ? active" id="dados-orcamento">
                        <div class="row">
                            <div class="col-sm-3 form-group">
                                <label for="provider.id" class="control-label">Fornecedor</label>
                                <div class="bw-field-action">
                                    <select class="form-control" id="provider" th:field="*{provider.id}">
                                        <option value="">Selecione</option>
                                        <option th:if="${providers}" th:each="provider : ${providers}" th:value="${provider.id}" th:text="${provider.name}"></option>
                                    </select>
                                    <div class="bw-field-action__icon">
                                        <a sec:authorize="hasAuthority('cadastrar.fornecedor')" href="#" data-toggle="modal" data-target="#modalQuickRegisterProvider" th:title="#{cadastrar.fornecedor}">
                                            <i class="glyphicon  glyphicon-plus-sign  bw-glyphicon-large"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3 form-group">
                                <label for="seller.id" class="control-label">Vendedor</label>
                                <div class="bw-field-action">
                                    <select class="form-control" id="seller" th:field="*{seller.id}" th:readonly="${#authentication.principal.permissionDto.userDto.userType == 5}">
                                        <option th:if="${#authentication.principal.permissionDto.userDto.userType != 5}" value="">Selecione</option>
                                        <option th:if="${sellers}" th:each="seller : ${sellers}" th:value="${seller.id}" th:text="${seller.name}"></option>
                                    </select>
                                    <div class="bw-field-action__icon">
                                        <a href="#" data-toggle="modal" data-target="#modalQuickRegisterBrand" th:title="#{cadastrar.vendedor}">
                                            <i class="glyphicon  glyphicon-plus-sign  bw-glyphicon-large"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3 form-group">
                                <label for="dateExpire" th:text="#{data.expira}"></label>
                                <input type="datetime-local" class="form-control" th:field="*{dateExpire}" th:readonly="${budget.id}"/>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12 form-group">
                                <label for="note" th:text="#{anotacao}"></label>
                                <input type="text" class="form-control" th:field="*{note}"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <button class="btn  btn-primary" type="submit" th:text="#{salvar}"></button>
                            <a th:href="@{/orcamento}" class="btn  btn-default" th:text="#{voltar}"></a>
                        </div>
                    </div>
                    <div th:unless="${budget.novo}" class="tab-pane fade in" id="items" th:classappend="${budget.updateItem} ? active">
                        <th:block th:each="items,rowStat : *{#numbers.sequence(items.size() - 1, 0, -1)}">
                            <input th:if="*{items[__${rowStat.index}__].id}" type="hidden" th:field="*{items[__${rowStat.index}__].id}">
                        </th:block>
                        <div class="row masked-input">
                            <div class="col-sm-3 form-group">
                                <label for="product.id" class="control-label">Produto</label>
                                <div class="bw-field-action">
                                    <select class="form-control" id="product" th:field="*{items[__${sizeItems}__].product}">
                                        <option value="">Selecione</option>
                                        <option th:if="${products}" th:each="product : ${products}" th:value="${product.id}" th:text="${product.name}"></option>
                                    </select>
                                    <div class="bw-field-action__icon">
                                        <a href="#" data-toggle="modal" data-target="#modalQuickRegisterBrand" th:title="#{cadastrar.produto}">
                                            <i class="glyphicon  glyphicon-plus-sign  bw-glyphicon-large"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-2 form-group">
                                <label th:text="#{preco}"></label>
                                <div class="input-group">
                                    <div class="input-group-addon">R$</div>
                                    <input type="text" class="form-control js-decimal" th:field="*{items[__${sizeItems}__].price}" placeholder="Ex: 1,00"/>
                                </div>
                            </div>
                            <div class="col-sm-2 form-group">
                                <label th:text="#{desconto}"></label>
                                <div class="input-group">
                                    <div class="input-group-addon">R$</div>
                                    <input type="text" class="form-control js-decimal" th:field="*{items[__${sizeItems}__].rebate}"/>
                                </div>
                            </div>
                            <div class="col-sm-2 form-group">
                                <label th:text="#{quantidade}"></label>
                                <input type="number" class="form-control" th:field="*{items[__${sizeItems}__].quantity}"/>
                            </div>
                            <div class="col-sm-3 form-group">
                                <label for="status" class="control-label" th:text="#{status}"></label>
                                <select id="status" class="form-control" th:field="*{items[__${sizeItems}__].status}" th:readonly="${budget.dateExpire} and ${budget.dateExpire.isBefore(#temporals.createNow())}">
                                    <option value="">Selecione</option>
                                    <option th:each="budgetStatus : ${budgetStatus}" th:value="${budgetStatus}" th:text="${budgetStatus.descricao}"></option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <button class="btn  btn-primary" type="submit" th:text="#{adicionar}" th:disabled="${budget.dateExpire} and ${budget.dateExpire.isBefore(#temporals.createNow())}" name="addItem"></button>
                            <a th:href="@{/orcamento}" class="btn  btn-default" th:text="#{voltar}"></a>
                        </div>
                        <div class="table-responsive pc-tabela-simples">
                            <table class="table table-hover">
                                <thead>
                                <tr>
                                    <th class="table-features-col-nome" th:text="#{produto}"></th>
                                    <th class="table-features-col-nome" th:text="#{marca}"></th>
                                    <th class="table-feature-col-codigo" th:text="#{preco}"></th>
                                    <th class="table-feature-col-codigo" th:text="#{desconto}"></th>
                                    <th class="table-feature-col-codigo" th:text="#{quantidade}"></th>
                                    <th class="table-feature-col-codigo" th:text="#{status}"></th>
                                </tr>
                                </thead>

                                <tbody>
                                <tr th:if="${item.product}" th:each="item : ${budget.items}">
                                    <td th:text="${item.product.name}"></td>
                                    <td th:text="${item.product.brand.name}"></td>
                                    <td th:text="'R$ ' + ${item.price}"></td>
                                    <td th:text="'R$ ' + ${item.rebate}"></td>
                                    <td th:text="${item.quantity}"></td>
                                    <td th:text="${item.status}"></td>
                                    <td class="text-center">
                                        <!--<a class="btn  btn-link  btn-xs js-tooltip" th:title="#{editar}" th:href="@{/vendedor/{id}(id=${seller.id})}">
                                            <i class="glyphicon glyphicon-pencil"></i>
                                        </a>-->
                                        <button th:value="${item.id}" name="delItem"
                                                class="btn  btn-link  btn-xs js-tooltip js-exclusao-btn" th:title=#{deletar}>
                                            <i class="glyphicon glyphicon-remove"></i> <span class="icon-name"></span>
                                        </button>
                                    </td>
                                    <!--</tr>
                                    <tr>
                                        <td colspan="4">Nenhum usuário encontrado</td>
                                    </tr>-->
                                </tbody>
                            </table>
                            <!--<div th:replace="layout/fragments/pagination :: pagination"></div>-->
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div th:replace="provider/quick-register :: modal"></div>
</section>
<th:block layout:fragment="javascript-extra">
    <script th:src="@{/javascripts/vendors/bootstrap-toggle.min.js}"></script>
    <script th:src="@{/vendors/input-mask/inputmask.js}"></script>
    <script th:src="@{/vendors/jquery-maskMoney/jquery.maskMoney.min.js}"></script>
    <script th:src="@{/budget/js/save.js}"></script>
    <script th:src="@{/provider/js/quick-register.js}"></script>
</th:block>
</body>
</html>