<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
<body>

<section layout:fragment="conteudo">
    <div class="page-header">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-10">
                    <h1>
                        Pesquisa de Produtos
                    </h1>
                </div>

                <div class="col-xs-2">
                    <div class="aw-page-header-controls">
                        <a class="btn btn-primary" th:href="@{/produto/novo}">
                            <i class="fa  fa-plus-circle"></i> <span class="hidden-xs  hidden-sm">Novo Produto</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <form method="get" th:object="${productFilter}" th:action="@{/produto/buscar}" class="form-vertical  js-form-loading">
            <div class="row">
                <div class="form-group col-sm-3">
                    <label for="input-produto-nome">Nome</label>
                    <input id="input-produto-nome" type="text" class="form-control" th:field="*{name}" />
                </div>
                <!--<div class="form-group  col-sm-3" >
                    <label class="control-label" for="email">Email</label>
                    <input type="email" class="form-control" id="email" th:field="*{email}" />
                </div>
                <div class="form-group  col-sm-2" >
                    <label class="control-label" for="login">Login</label>
                    <input type="text" class="form-control" id="login" th:field="*{login}" />
                </div>
                <div class="form-group  col-sm-2" >
                    <label class="control-label" for="userType">Tipo</label>
                    <select class="form-control" th:field="*{userType}">
                        <option value=" ">Selecione o tipo</option>
                        <option th:each="typeUser : ${userType}" th:value="${typeUser}" th:text="${typeUser}"></option>
                    </select>
                </div>-->
                <div class="col-xs-2">
                    <div class="aw-page-header-controls">
                        <button type="submit" class="btn btn-primary" href="#">
                            <i class="fa  fa-search"></i> <span class="hidden-xs  hidden-sm">Pesquisar</span>
                        </button>
                    </div>
                </div>
            </div>
        </form>
        <div class="table-responsive pc-tabela-simples">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th class="table-projetos-col-nome">Nome</th>
                        <th class="table-projetos-col-marca">Marca</th>
                        <th class="table-projetos-col-medida">Medida</th>
                        <th class="table-projetos-col-" colspan="2"></th>
                    </tr>
                </thead>

                <tbody>
                <tr th:each="product : ${pageData.content}">
                    <td th:text="${product.name}"></td>
                    <td th:text="${product.brand.name}"></td>
                    <td th:text="${product.measuredQuantity} + ' ' + ${product.unitMeasure}"></td>
                    <td class="text-center">
                        <a class="btn  btn-link  btn-xs js-tooltip" title="Editar" th:href="@{/produto/{id}(id=${product.id})}">
                            <i class="glyphicon glyphicon-pencil"></i>
                        </a>
                        <a href="#" class="btn  btn-link  btn-xs js-tooltip js-exclusao-btn"
                           data-toggle="tooltip" data-placement="bottom" th:attr="title=#{deletar}"
                           th:onclick="|deleteRegister('${product.id}', 'produto/' )|">
                            <i class="glyphicon glyphicon-remove"></i> <span class="icon-name"></span>
                        </a>
                    </td>
                    </tr>
                <!--<tr>
                    <td colspan="4">Nenhum usuário encontrado</td>
                </tr>-->
                </tbody>
            </table>
            <div th:replace="layout/fragments/pagination :: pagination"></div>
        </div>
    </div>
</section>
</body>
</html>

