<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head></head>


    <div class="col-sm-12  text-center" th:if="${not #lists.isEmpty(pageData.content)}" th:fragment="pagination">
        <nav>
            <ul class="pagination  pagination-sm" th:with="currentPage=${pageData.currentPage}">
                <li th:class="${pageData.first} ? disabled">
                    <a href="${pageData.urlForPage(currentPage - 1)}" th:remove="${pageData.first} ? tag"><span>&laquo;</span></a>
                </li>
                <th:block th:each="p : ${#numbers.sequence(1, pageData.totalPages)}" th:with="numberPager=${p - 1}">
                    <li th:class="${currentPage == numberPager} ? active">
                        <a th:href="${pageData.urlForPage(numberPager)}">[[${p}]]</a>
                    </li>
                </th:block>


                <li th:class="${pageData.last} ? disabled">
                    <a href="${pageData.urlForPage(currentPage + 1)}" th:remove="${pageData.last} ? tag"><span>&raquo;</span></a>
                </li>
            </ul>
        </nav>
    </div>


</html>