<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
    <body>

        <section layout:fragment="conteudo">
            <div class="page-header">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-xs-10">
                            <h1 th:text="#{titulo.pesquisa.usuario}"></h1>
                        </div>

                        <div class="col-xs-2">
                            <div class="aw-page-header-controls">
                                <a class="btn btn-primary" th:href="@{/usuario/novo}">
                                    <i class="fa  fa-plus-circle"></i> <span class="hidden-xs  hidden-sm" th:text="#{novo}"></span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container-fluid">
                <form method="get" th:object="${userFilter}" th:action="@{/usuario/buscar}" class="form-vertical  js-form-loading">
                    <div class="row">
                        <div class="form-group col-sm-3">
                            <label for="input-produto-nome" th:text="#{nome}"></label>
                            <input id="input-produto-nome" type="text" class="form-control" th:field="*{name}" />
                        </div>
                        <div class="form-group  col-sm-3" >
                            <label class="control-label" for="email" th:text="#{email}"></label>
                            <input type="email" class="form-control" id="email" th:field="*{email}" />
                        </div>
                        <div class="form-group  col-sm-2" >
                            <label class="control-label" for="login" th:text="#{login}"></label>
                            <input type="text" class="form-control" id="login" th:field="*{login}" />
                        </div>
                        <div class="form-group  col-sm-2" >
                            <label class="control-label" for="userType" th:text="#{tipo.usuario}"></label>
                            <select class="form-control" th:field="*{userType}">
                                <option value=" ">Selecione o tipo</option>
                                <option th:each="typeUser : ${userType}" th:value="${typeUser}" th:text="${typeUser}"></option>
                            </select>
                        </div>
                        <div class="col-xs-2">
                            <div class="aw-page-header-controls">
                                <button type="submit" class="btn btn-primary" href="#">
                                    <i class="fa  fa-search"></i> <span class="hidden-xs  hidden-sm" th:text="#{pesquisar}"></span>
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
                <div class="table-responsive pc-tabela-simples">
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th class="table-projetos-col-nome" th:text="#{nome}"></th>
                            <th class="table-projetos-col-status" th:text="#{email}"></th>
                            <th class="table-projetos-col-dataInicio" th:text="#{login}"></th>
                            <th class="table-projetos-col-dataFim" th:text="#{tipo.usuario}"></th>
                            <th class="table-projetos-col-dataFim" th:text="#{status}"></th>
                            <th class="table-projetos-col-acoes"></th>
                        </tr>
                        </thead>

                        <tbody>
                        <tr th:each="user : ${pageData.content}">
                            <td th:text="${user.name}"></td>
                            <td th:text="${user.email}"></td>
                            <td th:text="${user.login}"></td>
                            <td th:text="${user.userType}"></td>
                            <td th:text="${user.activated} ? #{ativo} : #{Desativado}"></td>
                            <td class="text-center">
                                <a class="btn  btn-link  btn-xs js-tooltip" th:title="#{editar}" th:href="@{/usuario/{id}(id=${user.id})}">
                                    <i class="glyphicon glyphicon-pencil"></i>
                                </a>
                                <a href="#" class="btn  btn-link  btn-xs js-tooltip js-exclusao-btn"
                                   data-toggle="tooltip" data-placement="bottom" th:attr="title=#{deletar}"
                                   th:onclick="|deleteRegister('${user.id}', 'usuario/' )|">
                                    <i class="glyphicon glyphicon-remove"></i> <span class="icon-name"></span>
                                </a>
                            </td>
                        </tr>
                        <tr align="center" th:if="${pageData.empty}">
                            <td colspan="5" th:text="#{nenhum.usuario}"></td>
                        </tr>
                        </tbody>
                    </table>
                    <div th:replace="layout/fragments/pagination :: pagination"></div>
                </div>
            </div>
        </section>
    </body>
</html>

