<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layout/layout}">
	<body>

		<section layout:fragment="conteudo">

			<div class="page-header">
				<div class="container-fluid">
					<div class="row">
						<div class="col-xs-10">
							<h1 th:if="${user.novo}" th:text="#{titulo.cadastro.usuario}"></h1>
							<h1 th:unless="${user.novo}" th:text="#{titulo.editar.usuario}"></h1>
						</div>
						<div class="col-xs-2" th:unless="${user.novo}">
							<div class="aw-page-header-controls">
								<a class="btn btn-primary" th:href="@{/usuario/novo}">
									<i class="fa  fa-plus-circle"></i> <span class="hidden-xs  hidden-sm" th:text="#{novo}"></span>
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="container-fluid">
				<form method="post" th:object="${user}" th:action="${user.novo} ? @{/usuario/novo} :
								@{/usuario/{id}(id=${user.id})}" class="form-vertical  js-form-loading">
					<div th:replace="layout/fragments/message :: messages"></div>
					<input type="hidden" th:field="*{id}" />
					<div class="row">
						<div class="col-sm-2">
							<label for="activated" th:text="#{status}"></label>
							<div>
								<input type="checkbox" checked class="form-control" data-on="Ativado" data-off="Desativado" data-toggle="toggle" th:field="*{activated}">
							</div>
						</div>
						<div class="col-sm-7">
							<label for="name" th:text="#{nome}"></label>
							<input type="text" class="form-control" th:field="*{name}"/>
						</div>
					</div>

					<div class="row">
						<div class="col-sm-5">
							<label for="email" th:text="#{email}"></label>
							<input type="email" class="form-control" th:field="*{email}"/>
						</div>
						<div class="col-sm-4">
							<label for="userType" class="control-label" th:text="#{tipo.usuario}"></label>
							<select id="status" class="form-control" th:field="*{userType}">
								<option value="">Selecione</option>
								<option th:each="userType : ${userType}" th:value="${userType}" th:text="${userType}"></option>
							</select>
						</div>
					</div>

					<div class="row">
						<div class="col-sm-5">
							<div class="form-group">
								<label for="login" th:text="#{usuario}"></label>
								<input type="text" class="form-control" th:field="*{login}"/>
							</div>
						</div>

						<div class="col-sm-4">
							<div class="form-group">
								<label for="password" th:text="#{senha}"></label>
								<input type="password" class="form-control" th:field="*{password}"/>
							</div>
						</div>
					</div>

					<div class="form-group">
						<button class="btn  btn-primary" type="submit" th:text="#{salvar}"></button>
						<a th:href="@{/usuario}" class="btn  btn-default" th:text="#{voltar}"></a>
					</div>
				</form>
			</div>

		</section>
		<th:block layout:fragment="javascript-extra">
			<script th:src="@{/javascripts/vendors/bootstrap-toggle.min.js}"></script>
		</th:block>
	</body>
</html>