<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
<body>

<section layout:fragment="conteudo">
    <div class="page-header">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-10">
                    <h1 th:text="#{pesquisa.grupo.usuario}"></h1>
                </div>
                <div class="col-xs-2">
                    <div class="aw-page-header-controls">
                        <a class="btn btn-primary" th:href="@{/grupoUsuarios/novo}">
                            <i class="fa  fa-plus-circle"></i> <span class="hidden-xs  hidden-sm" th:text="#{novo}">Novo</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <form method="get" th:object="${groupUserFilter}" th:action="@{/grupoUsuarios/buscar}" class="form-vertical  js-form-loading">
            <div class="row">
                <div class="form-group col-sm-6">
                    <label for="name" th:text="#{nome}"></label>
                    <input type="text" class="form-control" th:field="*{name}" />
                </div>
                <div class="form-group col-sm-6">
                    <label for="menuTop" th:text="#{descricao}"></label>
                    <input type="text" class="form-control" th:field="*{description}" />
                </div>
                <div class="col-xs-2">
                    <div class="aw-page-header-controls">
                        <button type="submit" class="btn btn-primary" href="#">
                            <i class="fa  fa-search"></i> <span class="hidden-xs  hidden-sm" th:text="#{pesquisar}">Pesquisar</span>
                        </button>
                    </div>
                </div>
            </div>
        </form>
        <div class="table-responsive pc-tabela-simples">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th class="table-projetos-col-nome" th:text="#{nome}"></th>
                    <th class="table-projetos-col-marca" th:text="#{descricao}"></th>
                    <th class="table-projetos-col-" colspan="2"></th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="groupUser : ${pageData.content}">
                    <td th:text="${groupUser.name}"></td>
                    <td th:text="${groupUser.description}"></td>
                    <td class="text-center">
                        <a class="btn  btn-link  btn-xs js-tooltip" th:title="#{editar}" th:href="@{/grupoUsuarios/{id}(id=${groupUser.id})}">
                            <i class="glyphicon glyphicon-pencil"></i>
                        </a>
                        <a href="#" class="btn  btn-link  btn-xs js-tooltip js-exclusao-btn"
                           data-toggle="tooltip" data-placement="bottom" th:attr="title=#{deletar}"
                           th:onclick="|deleteRegister('${groupUser.id}', 'grupoUsuarios/' )|">
                            <i class="glyphicon glyphicon-remove"></i> <span class="icon-name"></span>
                        </a>
                    </td>
                </tr>
                <tr align="center" th:if="${pageData.empty}">
                    <td colspan="5" th:text="#{nenhum.grupo.usuario}"></td>
                </tr>
                </tbody>
            </table>
            <div th:replace="layout/fragments/pagination :: pagination"></div>
        </div>
    </div>
</section>
</body>
</html>